.container {
    margin: auto;
    padding-left: 300px;
    padding-bottom: 80px;
}

main h1 {
    font-size: 40px;
    background-color: #292c2b;
    color: #FAFFFF;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    padding-left: 300px;
}

h2 {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Tabela*/

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    border: 1px solid #CCC;
    width: 90px;
}

.info {
    background: #F3F3F3;
    font-weight: bold;
    height: 40px;
}

.paciente {
    background: #FAFAFA;
    text-align: center;
    height: 30px;
}